[_]
schema-version = "0.2"

[[io.buildpacks.build.env]]
name = "BP_WEB_SERVER"
value = "nginx"

[[io.buildpacks.build.env]]
name = "BP_WEB_SERVER_ROOT"
value = "dist"

[[io.buildpacks.build.env]]
name = "BP_NODE_RUN_SCRIPTS"
value = "build"

[io.buildpacks.group]
[[io.buildpacks.group.group]]
id = "heroku/nodejs"

[[io.buildpacks.group.group]]
id = "heroku/nginx"
